:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #000000;
  overflow: hidden;
}
.flex-row-a {
  position: relative;
  width: 1204px;
  height: 115px;
  margin: 47px 0 0 67px;
  z-index: 4;
}
.e-sport {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 296px;
  height: 115px;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Oswald, var(--default-font-family);
  font-size: 48px;
  font-weight: 400;
  line-height: 71.136px;
  text-align: left;
}
.about {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 53px;
  top: 18px;
  left: 220px;
  color: #ffffff;
  font-family: Mukta, var(--default-font-family);
  font-size: 32px;
  font-weight: 275;
  line-height: 53px;
  text-align: left;
  white-space: nowrap;
  z-index: 3;
}
.shop {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 53px;
  top: 18px;
  left: 367px;
  color: #ffffff;
  font-family: Mukta, var(--default-font-family);
  font-size: 32px;
  font-weight: 275;
  line-height: 53px;
  text-align: left;
  white-space: nowrap;
  z-index: 2;
}
.categoria {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 53px;
  top: 18px;
  left: 500px;
  color: #ffffff;
  font-family: Mukta, var(--default-font-family);
  font-size: 32px;
  font-weight: 275;
  line-height: 53px;
  text-align: left;
  white-space: nowrap;
  z-index: 1;
}
.rectangle {
  position: absolute;
  width: 460px;
  height: 41px;
  top: 24px;
  left: 744px;
  background: #c2c2c2;
  z-index: 4;
  border-radius: 20px;
}
/* Define o estilo geral para os botões de tamanho */
.size-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px; /* ajuste o tamanho conforme necessário */
  height: 50px; /* ajuste o tamanho conforme necessário */
  border-radius: 50%; /* faz com que o botão seja redondo */
  background-color: #000000; /* cor de fundo padrão */
  color: #000; /* cor do texto padrão */
  font-size: 16px; /* ajuste o tamanho da fonte conforme necessário */
  font-family: 'Oswald', sans-serif; /* ajuste a fonte conforme necessário */
  text-align: center;
  line-height: 50px; /* alinhamento vertical do texto */
  margin: 5px; /* espaçamento entre os botões */
  cursor: pointer;
  border: 2px solid #000; /* borda opcional */
}

/* Adiciona uma classe para o botão selecionado */
.size-button.active {
  color: #ff5722; /* cor do texto quando selecionado */
}

/* Se precisar ajustar o estilo para dispositivos móveis, adicione consultas de mídia */
@media (max-width: 600px) {
  .size-button {
    width: 40px;
    height: 40px;
    font-size: 14px;
  }
}

.buscar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 33px;
  top: 3px;
  left: 209px;
  color: #565656;
  font-family: Mukta, var(--default-font-family);
  font-size: 20px;
  font-weight: 275;
  line-height: 33px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.pesquisa {
  position: absolute;
  width: 28px;
  height: 25px;
  top: 8px;
  left: 13px;
  background: url(./assets/images/54b4c249-0a57-49fa-b705-3e3fd9f35909.png)
    no-repeat center;
  background-size: cover;
  z-index: 5;
  overflow: hidden;
}
.camisa-manchester-city {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 634px;
  height: 36px;
  margin: 164px 0 0 24px;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  white-space: nowrap;
  z-index: 7;
}
.flex-row-a-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 345px;
  height: 70px;
  margin: 42px 0 0 120px;
  z-index: 13;
}
.number-5 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 70px;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 64px;
  font-weight: 800;
  line-height: 69.632px;
  text-align: center;
  white-space: nowrap;
  z-index: 13;
}
.star {
  flex-shrink: 0;
  position: relative;
  width: 46px;
  height: 41px;
  background: url(./assets/images/882ccd55-4491-4d52-b792-ea1d56e3be38.png)
    no-repeat center;
  background-size: cover;
  z-index: 8;
}
.star-2 {
  flex-shrink: 0;
  position: relative;
  width: 46px;
  height: 41px;
  background: url(./assets/images/2d82e9ee-a2ae-4002-a835-ab190a090d7b.png)
    no-repeat center;
  background-size: cover;
  z-index: 9;
}
.star-3 {
  flex-shrink: 0;
  position: relative;
  width: 46px;
  height: 41px;
  background: url(./assets/images/2d8b9730-f397-4dbd-9a55-8588fabf9142.png)
    no-repeat center;
  background-size: cover;
  z-index: 10;
}
.star-4 {
  flex-shrink: 0;
  position: relative;
  width: 46px;
  height: 41px;
  background: url(./assets/images/6b735b0a-d6b4-4fef-93c2-52b1d133ae91.png)
    no-repeat center;
  background-size: cover;
  z-index: 11;
}
.star-5 {
  flex-shrink: 0;
  position: relative;
  width: 46px;
  height: 41px;
  background: url(./assets/images/040ece06-6c45-406f-8739-7e6b906301af.png)
    no-repeat center;
  background-size: cover;
  z-index: 12;
}
.avaliacoes {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 165px;
  height: 26px;
  margin: -3px 0 0 222px;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  white-space: nowrap;
  z-index: 14;
}
.flex-row-afd {
  position: relative;
  width: 1206px;
  height: 723px;
  margin: 118px 0 0 120px;
  z-index: 39;
}
.bbd-bdceeb {
  position: absolute;
  width: 143px;
  height: 117px;
  top: 0;
  left: 0;
  background: url(./assets/images/7c30c506d0bd80c37308cdd0ca7d6ed66ec02fd7.png)
    no-repeat center;
  background-size: cover;
  z-index: 18;
  border-radius: 12px;
}
.baba {
  position: absolute;
  width: 603px;
  height: 722px;
  top: 1px;
  left: 162px;
  background: url(./assets/images/1fe007fdd8dc50f72c45f983a4bf4685f7ffec1c.png)
    no-repeat center;
  background-size: cover;
  z-index: 21;
  border-radius: 20px;
}
.line {
  position: absolute;
  width: 2px;
  height: 621.02px;
  top: 30.99px;
  left: 784.5px;
  background: url(./assets/images/23fcf917-b8bf-4d99-b23b-30b2135d968e.png)
    no-repeat center;
  background-size: cover;
  z-index: 22;
}
.price-349-90 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 159px;
  height: 35px;
  top: 56px;
  left: 987px;
  color: rgba(255, 255, 255, 0.69);
  font-family: Archivo, var(--default-font-family);
  font-size: 32px;
  font-weight: 800;
  line-height: 34.816px;
  text-align: center;
  white-space: nowrap;
  z-index: 24;
}
.price-249-90 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 239px;
  height: 52px;
  top: 102px;
  left: 914px;
  color: rgba(14, 170, 219, 0.86);
  font-family: Archivo, var(--default-font-family);
  font-size: 48px;
  font-weight: 800;
  line-height: 52px;
  text-align: center;
  white-space: nowrap;
  z-index: 32;
}
.cd-dcefd {
  position: absolute;
  width: 143px;
  height: 119px;
  top: 152px;
  left: 0;
  background: url(./assets/images/2959c9df6e2868d9aabb038a8e17ec63bdd3ec0e.png)
    no-repeat center;
  background-size: cover;
  z-index: 16;
  border-radius: 12px;
}
.installment-price {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 348px;
  height: 26px;
  top: 154px;
  left: 858px;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 800;
  line-height: 26px;
  text-align: center;
  white-space: nowrap;
  z-index: 25;
}
.stock-message {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 287px;
  height: 16px;
  top: 191px;
  left: 897px;
  color: rgba(15, 171, 220, 0.87);
  font-family: Archivo, var(--default-font-family);
  font-size: 15px;
  font-weight: 800;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 34;
}
.color-blue {
  position: absolute;
  width: 71px;
  height: 16px;
  top: 244px;
  left: 908px;
  font-family: Archivo, var(--default-font-family);
  font-size: 15px;
  font-weight: 800;
  line-height: 16px;
  text-align: center;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 35;
}
.color-label {
  position: relative;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 15px;
  font-weight: 800;
  line-height: 16.32px;
  text-align: center;
}
.color-blue-6 {
  position: relative;
  color: rgba(15, 171, 220, 0.87);
  font-family: Archivo, var(--default-font-family);
  font-size: 15px;
  font-weight: 800;
  line-height: 16.32px;
  text-align: center;
}
.baba-7 {
  position: absolute;
  width: 100px;
  height: 87px;
  top: 268px;
  left: 898px;
  background: url(./assets/images/1fe007fdd8dc50f72c45f983a4bf4685f7ffec1c.png)
    no-repeat center;
  background-size: cover;
  z-index: 39;
  border-radius: 20px;
}
.image {
  position: absolute;
  width: 142px;
  height: 115px;
  top: 306px;
  left: 1px;
  background: url(./assets/images/71948b6db28bac594deb3abdd3a7d2afbc45e256.png)
    no-repeat center;
  background-size: cover;
  z-index: 17;
  border-radius: 12px;
}
.ellipse {
  position: absolute;
  width: 52px;
  height: 54px;
  top: 416px;
  left: 890px;
  background: url(./assets/images/6e4c445b-43cc-41a0-a821-60264390d152.png)
    no-repeat center;
  background-size: cover;
  z-index: 26;
}
.ellipse-8 {
  position: absolute;
  width: 52px;
  height: 54px;
  top: 416px;
  left: 953px;
  background: url(./assets/images/d5872d68-d49f-4401-a2a8-dd9d0fcc0924.png)
    no-repeat center;
  background-size: cover;
  z-index: 27;
}
.ellipse-9 {
  position: absolute;
  width: 52px;
  height: 54px;
  top: 416px;
  left: 1016px;
  background: url(./assets/images/195ae5d7-f6dc-4c02-9fe2-d328dc4bab00.png)
    no-repeat center;
  background-size: cover;
  z-index: 28;
}
.ellipse-a {
  position: absolute;
  width: 52px;
  height: 54px;
  top: 416px;
  left: 1079px;
  background: url(./assets/images/11143411-1ce7-4d5b-9ed7-a1ad3b2f579f.png)
    no-repeat center;
  background-size: cover;
  z-index: 29;
}
.p {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 14px;
  height: 22px;
  top: 431px;
  left: 907px;
  color: #0fabdc;
  font-family: Archivo, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 21.76px;
  text-align: center;
  white-space: nowrap;
  z-index: 37;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.33);
}
.m {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 18px;
  height: 22px;
  top: 431px;
  left: 970px;
  color: #0fabdc;
  font-family: Archivo, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 21.76px;
  text-align: center;
  white-space: nowrap;
  z-index: 36;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.33);
}
.g {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 17px;
  height: 22px;
  top: 431px;
  left: 1032px;
  color: #0fabdc;
  font-family: Archivo, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 21.76px;
  text-align: center;
  white-space: nowrap;
  z-index: 38;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.33);
}
.gg {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 33px;
  height: 22px;
  top: 431px;
  left: 1088px;
  color: #0fabdc;
  font-family: Archivo, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 21.76px;
  text-align: center;
  white-space: nowrap;
  z-index: 33;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.33);
}
.image-b {
  position: absolute;
  width: 143px;
  height: 120px;
  top: 456px;
  left: 0;
  background: url(./assets/images/54ba705b6c868e1b74d431748010fc12bbef885f.png)
    no-repeat center;
  background-size: cover;
  z-index: 19;
  border-radius: 12px;
}
.rectangle-c {
  position: absolute;
  width: 301px;
  height: 73px;
  top: 517px;
  left: 872px;
  background: #0fabdc;
  z-index: 30;
  border-radius: 15px;
}
.comprar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 131px;
  height: 26px;
  top: 25px;
  left: 88px;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 800;
  line-height: 26px;
  text-align: center;
  white-space: nowrap;
  z-index: 31;
}
.image-d {
  position: absolute;
  width: 143px;
  height: 115px;
  top: 608px;
  left: 0;
  background: url(./assets/images/e41413aa311d6a5dad795e7e2d2bea28079ecd33.png)
    no-repeat center;
  background-size: cover;
  z-index: 20;
  border-radius: 12px;
}
.line-e {
  position: relative;
  width: 786.01px;
  height: 2px;
  margin: 23px 0 0 119.995px;
  background: url(./assets/images/9d2488d7-c752-4172-82bd-e9cf06403421.png)
    no-repeat center;
  background-size: cover;
  z-index: 23;
}
.indicado-para {
  position: relative;
  width: 481px;
  height: 247px;
  margin: 53px 0 0 116px;
  font-family: Archivo, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 34.816px;
  text-align: left;
  z-index: 15;
}
.indicado-para-f {
  position: relative;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 34.816px;
  text-align: left;
}
.dia-a-dia {
  position: relative;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 32px;
  font-weight: 300;
  line-height: 34.816px;
  text-align: left;
}
.indicado-para-10 {
  position: relative;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 34.816px;
  text-align: left;
}
.dia-a-dia-11 {
  position: relative;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 32px;
  font-weight: 300;
  line-height: 34.816px;
  text-align: left;
}
.material-composicao {
  position: relative;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 34.816px;
  text-align: left;
}
.line-12 {
  position: relative;
  width: 1368.568px;
  height: 0.5px;
  margin: 92.75px 0 0 35.75px;
  background: url(./assets/images/46e1f442-ee41-47f5-9212-be483dc21d9e.png)
    no-repeat center;
  background-size: cover;
  z-index: 40;
}
.descricao {
  display: block;
  position: relative;
  height: 60px;
  margin: 41.687px 0 0 54.019px;
  color: #ffffff;
  font-family: Mukta, var(--default-font-family);
  font-size: 36px;
  font-weight: 800;
  line-height: 59.832px;
  text-align: left;
  white-space: nowrap;
  z-index: 42;
}
.descricao-13 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 1350px;
  height: 99px;
  margin: 0 0 0 54.019px;
  color: #ffffff;
  font-family: Mukta, var(--default-font-family);
  font-size: 20px;
  font-weight: 300;
  line-height: 33.24px;
  text-align: left;
  z-index: 49;
}
.flex-row-f {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1060px;
  height: 26px;
  margin: 41px 0 0 54.019px;
  z-index: 48;
}
.nome-camisa {
  flex-shrink: 0;
  position: relative;
  width: 520px;
  height: 26px;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 48;
}
.nome {
  position: relative;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: left;
}
.camisa {
  position: relative;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 300;
  line-height: 28.8px;
  text-align: left;
}
.manchester-city {
  position: relative;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 26.112px;
  text-align: left;
}
.camisa-14 {
  position: relative;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 300;
  line-height: 28.8px;
  text-align: left;
}
.genero {
  flex-shrink: 0;
  position: relative;
  width: 206px;
  height: 26px;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 47;
}
.genero-15 {
  position: relative;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: left;
}
.masculino {
  position: relative;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
}
.masculino-16 {
  position: relative;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 300;
  line-height: 28.8px;
  text-align: left;
}
.flex-row-bcf {
  position: relative;
  width: 1173px;
  height: 26px;
  margin: 40px 0 0 54.019px;
  z-index: 51;
}
.indicado-para-17 {
  position: absolute;
  width: 264px;
  height: 26px;
  top: 0;
  left: 0;
  font-family: Architects Daughter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 46;
}
.indicado-para-18 {
  position: relative;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 33.352px;
  text-align: left;
}
.dia-a-dia-19 {
  position: relative;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 300;
  line-height: 33.352px;
  text-align: left;
}
.time-atleta {
  position: absolute;
  width: 319px;
  height: 26px;
  top: 0;
  left: 854px;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 800;
  line-height: 26px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 50;
}
.time-atleta-1a {
  position: relative;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: left;
}
.manchester-city-1b {
  position: relative;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 800;
  line-height: 28.8px;
  text-align: left;
}
.text-26 {
  position: relative;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 26.112px;
  text-align: left;
}
.time-atleta-manchester-city {
  position: absolute;
  width: 319px;
  height: 26px;
  top: 0;
  left: 854px;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 800;
  line-height: 26px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 51;
}
.time-atleta-1c {
  position: relative;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: left;
}
.empty {
  position: relative;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 800;
  line-height: 28.8px;
  text-align: left;
}
.manchester-city-1d {
  position: relative;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 26.112px;
  text-align: left;
}
.flex-row-c {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1171px;
  height: 26px;
  margin: 40px 0 0 54.019px;
  z-index: 45;
}
.material-poliester {
  flex-shrink: 0;
  position: relative;
  width: 198px;
  height: 26px;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 800;
  line-height: 26px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 45;
}
.material {
  position: relative;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: left;
}
.empty-1e {
  position: relative;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 800;
  line-height: 28.8px;
  text-align: left;
}
.poliester {
  position: relative;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 300;
  line-height: 28.8px;
  text-align: left;
}
.composicao-poliester {
  flex-shrink: 0;
  position: relative;
  width: 317px;
  height: 26px;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 800;
  line-height: 26px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 44;
}
.composicao {
  position: relative;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: left;
}
.empty-1f {
  position: relative;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 800;
  line-height: 28.8px;
  text-align: left;
}
.percent-poliester {
  position: relative;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 300;
  line-height: 28.8px;
  text-align: left;
}
.flex-row-af {
  position: relative;
  width: 1332.001px;
  height: 78px;
  margin: 40px 0 0 54.019px;
  z-index: 52;
}
.dimensoes-aproximadas-medidas-peca {
  position: absolute;
  width: 522px;
  height: 78px;
  top: 0;
  left: 0;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 800;
  line-height: 26.112px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 52;
}
.dimensoes-aproximadas {
  position: relative;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: left;
}
.medidas-peca-tamanho-m {
  position: relative;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 300;
  line-height: 28.8px;
  text-align: left;
}
.garantia-fabricante-contra-defeito-fabricacao {
  position: absolute;
  width: 478px;
  height: 52px;
  top: 0px;
  left: 854.001px;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 800;
  line-height: 26.112px;
  text-align: left;
  z-index: 43;
}
.garantia-fabricante {
  position: relative;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: left;
}
.contra-defeito-fabricacao {
  position: relative;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 24px;
  font-weight: 300;
  line-height: 28.8px;
  text-align: left;
}
.line-20 {
  position: relative;
  width: 1368.568px;
  height: 0.5px;
  margin: 146.75px 0 0 35.769px;
  background: url(./assets/images/1d0d4602-2187-49ef-8acd-a36aee09b477.png)
    no-repeat center;
  background-size: cover;
  z-index: 41;
}
.flex-row-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1067px;
  height: 60px;
  margin: 125.75px 0 0 196.019px;
  z-index: 54;
}
.avaliacao-produto {
  flex-shrink: 0;
  position: relative;
  height: 60px;
  color: #ffffff;
  font-family: Mukta, var(--default-font-family);
  font-size: 36px;
  font-weight: 800;
  line-height: 59.832px;
  text-align: left;
  white-space: nowrap;
  z-index: 53;
}
.avaliacoes-clientes {
  flex-shrink: 0;
  position: relative;
  height: 60px;
  color: #ffffff;
  font-family: Mukta, var(--default-font-family);
  font-size: 36px;
  font-weight: 800;
  line-height: 59.832px;
  text-align: left;
  white-space: nowrap;
  z-index: 54;
}
.flex-row-abc {
  position: relative;
  width: 824px;
  height: 70px;
  margin: -4px 0 0 330.019px;
  z-index: 61;
}
.regroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 321px;
  height: 70px;
  top: 0;
  left: 503px;
  z-index: 61;
}
.star-5-21 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 70px;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 64px;
  font-weight: 800;
  line-height: 69.632px;
  text-align: center;
  white-space: nowrap;
  z-index: 61;
}
.star-22 {
  flex-shrink: 0;
  position: relative;
  width: 46px;
  height: 41px;
  background: url(./assets/images/b38a9cca-9ab4-46b8-beec-8e1e43a98ba4.png)
    no-repeat center;
  background-size: cover;
  z-index: 56;
}
.star-23 {
  flex-shrink: 0;
  position: relative;
  width: 46px;
  height: 41px;
  background: url(./assets/images/09ab557f-df30-4efa-b2d2-08ce0a4a9fea.png)
    no-repeat center;
  background-size: cover;
  z-index: 57;
}
.star-24 {
  flex-shrink: 0;
  position: relative;
  width: 46px;
  height: 41px;
  background: url(./assets/images/8f876dae-5f23-477e-b777-bc3f8dc165de.png)
    no-repeat center;
  background-size: cover;
  z-index: 58;
}
.star-25 {
  flex-shrink: 0;
  position: relative;
  width: 46px;
  height: 41px;
  background: url(./assets/images/b9010dc5-9e3d-4ffe-ab37-8799026512c3.png)
    no-repeat center;
  background-size: cover;
  z-index: 59;
}
.star-26 {
  flex-shrink: 0;
  position: relative;
  width: 46px;
  height: 41px;
  background: url(./assets/images/a3f019c6-e399-46c3-9e65-c4ea94296ce9.png)
    no-repeat center;
  background-size: cover;
  z-index: 60;
}
.percent-100 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 52px;
  top: 7px;
  left: 0;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 48px;
  font-weight: 800;
  line-height: 52px;
  text-align: left;
  white-space: nowrap;
  z-index: 55;
}
.flex-row-bd {
  position: relative;
  width: 909px;
  height: 66px;
  margin: 1px 0 0 217.019px;
  z-index: 63;
}
.clientes-recomendam {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 351px;
  height: 66px;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 20px;
  font-weight: 300;
  line-height: 21.76px;
  text-align: center;
  z-index: 63;
}
.media-opinioes {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 219px;
  height: 22px;
  top: 0;
  left: 690px;
  color: #ffffff;
  font-family: Archivo, var(--default-font-family);
  font-size: 20px;
  font-weight: 300;
  line-height: 21.76px;
  text-align: center;
  white-space: nowrap;
  z-index: 62;
}
.customer-purchases {
  display: block;
  position: relative;
  height: 60px;
  margin: 66.063px 0 0 98px;
  color: #ffffff;
  font-family: Mukta, var(--default-font-family);
  font-size: 36px;
  font-weight: 800;
  line-height: 59.832px;
  text-align: left;
  white-space: nowrap;
  z-index: 111;
}
.flex-row-b-27 {
  position: relative;
  width: 1392px;
  height: 574px;
  margin: 121px 0 0 36px;
  z-index: 123;
}
.rectangle-28 {
  position: absolute;
  width: 436px;
  height: 571px;
  top: 0;
  left: 11px;
  background: #ffffff;
  z-index: 112;
  border-radius: 35px;
}
.image-29 {
  position: relative;
  width: 340px;
  height: 345.556px;
  margin: 66px 0 0 47px;
  background: url(./assets/images/5022664ba4556dc5f4cbfd6365cbb5ab3728fde8.png)
    no-repeat center;
  background-size: cover;
  z-index: 126;
  border-radius: 35px;
}
.bayern-munich-shirt {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 343px;
  height: 36px;
  top: 421px;
  left: 47px;
  color: #041632;
  font-family: Anek Gujarati, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  white-space: nowrap;
  z-index: 115;
}
.price {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 282px;
  height: 57px;
  top: 444px;
  left: 79px;
  color: #041632;
  font-family: Andika New Basic, var(--default-font-family);
  font-size: 48px;
  font-weight: 700;
  line-height: 57px;
  text-align: center;
  white-space: nowrap;
  z-index: 113;
}
.rectangle-2a {
  position: absolute;
  width: 436px;
  height: 571px;
  top: 0;
  left: 469px;
  background: #ffffff;
  z-index: 116;
  border-radius: 35px;
}
.image-2b {
  position: relative;
  width: 361.116px;
  height: 345.56px;
  margin: 66px 0 0 38px;
  background: url(./assets/images/562f021a476cddf7ad5ffb222ba93a0995f5461d.png)
    no-repeat center;
  background-size: cover;
  z-index: 125;
  border-radius: 35px;
}
.manchester-city-shirt {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 343px;
  height: 16px;
  margin: 9.44px 0 0 47px;
  color: #041632;
  font-family: Anek Gujarati, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 119;
}
.price-2c {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 282px;
  height: 57px;
  margin: 7px 0 0 79px;
  color: #041632;
  font-family: Andika New Basic, var(--default-font-family);
  font-size: 48px;
  font-weight: 700;
  line-height: 57px;
  text-align: center;
  white-space: nowrap;
  z-index: 117;
}
.rectangle-2d {
  position: absolute;
  width: 436px;
  height: 571px;
  top: 0;
  left: 935px;
  background: #ffffff;
  z-index: 120;
  border-radius: 35px;
}
.image-2e {
  position: relative;
  width: 374.746px;
  height: 345.56px;
  margin: 66px 0 0 33px;
  background: url(./assets/images/bd3fa1b8c1645c864a536f7457d7e2cdb5a2051d.png)
    no-repeat center;
  background-size: cover;
  z-index: 127;
  border-radius: 35px;
}
.borussia-dortmund-shirt {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 343px;
  height: 28px;
  margin: 9.44px 0 0 47px;
  color: #041632;
  font-family: Anek Gujarati, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  white-space: nowrap;
  z-index: 124;
}
.price-2f {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 282px;
  height: 57px;
  margin: -5px 0 0 79px;
  color: #041632;
  font-family: Andika New Basic, var(--default-font-family);
  font-size: 48px;
  font-weight: 700;
  line-height: 57px;
  text-align: center;
  white-space: nowrap;
  z-index: 122;
}
.discount-price {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 468px;
  height: 32px;
  top: 512px;
  left: 0;
  color: #041632;
  font-family: Andika, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 24.17px;
  text-align: center;
  white-space: nowrap;
  z-index: 114;
}
.discount-price-30 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 468px;
  height: 32px;
  top: 512px;
  left: 458px;
  color: #041632;
  font-family: Andika, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 24.17px;
  text-align: center;
  white-space: nowrap;
  z-index: 118;
}
.discount-price-31 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 468px;
  height: 32px;
  top: 512px;
  left: 924px;
  color: #041632;
  font-family: Andika, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 24.17px;
  text-align: center;
  white-space: nowrap;
  z-index: 123;
}
.sold-out {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 256px;
  height: 32px;
  top: 542px;
  left: 1029px;
  color: #ff0000;
  font-family: Andika, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 24.17px;
  text-align: center;
  white-space: nowrap;
  z-index: 121;
}
.best-sellers {
  display: block;
  position: relative;
  height: 44px;
  margin: 145px 0 0 74px;
  color: #ffffff;
  font-family: Mukta, var(--default-font-family);
  font-size: 36px;
  font-weight: 800;
  line-height: 44px;
  text-align: left;
  white-space: nowrap;
  z-index: 93;
}
.flex-row-b-32 {
  position: relative;
  width: 1392px;
  height: 571px;
  margin: 69px 0 0 33px;
  z-index: 107;
}
.rectangle-33 {
  position: absolute;
  width: 436px;
  height: 571px;
  top: 0;
  left: 11px;
  background: #ffffff;
  z-index: 94;
  border-radius: 35px;
}
.barcelona-shirt {
  position: relative;
  width: 340px;
  height: 340px;
  margin: 69px 0 0 53px;
  background: url(./assets/images/b13215e2-5c37-46c1-8b2f-561ed94cbca1.png)
    no-repeat center;
  background-size: cover;
  z-index: 98;
  border-radius: 35px;
}
.price-34 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 343px;
  height: 16px;
  margin: 14px 0 0 47px;
  color: #041632;
  font-family: Anek Gujarati, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 97;
}
.rectangle-35 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 282px;
  height: 57px;
  margin: 5px 0 0 79px;
  color: #041632;
  font-family: Andika New Basic, var(--default-font-family);
  font-size: 48px;
  font-weight: 700;
  line-height: 57px;
  text-align: center;
  white-space: nowrap;
  z-index: 95;
}
.real-madrid-shirt {
  position: absolute;
  width: 436px;
  height: 571px;
  top: 0;
  left: 469px;
  background: #ffffff;
  z-index: 99;
  border-radius: 35px;
}
.sold-out-36 {
  position: relative;
  width: 340px;
  height: 340px;
  margin: 67px 0 0 50px;
  background: url(./assets/images/a53f6c707b0917fbef84d791eb83a93683e3c2de.png)
    no-repeat center;
  background-size: cover;
  z-index: 104;
  border-radius: 35px;
}
.rectangle-37 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 343px;
  height: 16px;
  margin: 16px 0 0 47px;
  color: #041632;
  font-family: Anek Gujarati, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 103;
}
.arsenal-shirt {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 282px;
  height: 57px;
  margin: 5px 0 0 79px;
  color: #041632;
  font-family: Andika New Basic, var(--default-font-family);
  font-size: 48px;
  font-weight: 700;
  line-height: 57px;
  text-align: center;
  white-space: nowrap;
  z-index: 101;
}
.price-38 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 256px;
  height: 32px;
  margin: 39px 0 0 99px;
  color: #ff0000;
  font-family: Andika, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 24.17px;
  text-align: center;
  white-space: nowrap;
  z-index: 100;
}
.sold-out-39 {
  position: absolute;
  width: 436px;
  height: 571px;
  top: 0;
  left: 935px;
  background: #ffffff;
  z-index: 105;
  border-radius: 35px;
}
.discount-price-3a {
  position: relative;
  width: 340px;
  height: 340px;
  margin: 69px 0 0 55px;
  background: url(./assets/images/f189636cc6e6812f0c65f5c1b2fa340b92e59a32.png)
    no-repeat center;
  background-size: cover;
  z-index: 109;
  border-radius: 35px;
}
.discount-price-3b {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 343px;
  height: 16px;
  margin: 14px 0 0 51px;
  color: #041632;
  font-family: Anek Gujarati, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 108;
}
.text-4c {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 282px;
  height: 57px;
  margin: 5px 0 0 79px;
  color: #041632;
  font-family: Andika New Basic, var(--default-font-family);
  font-size: 48px;
  font-weight: 700;
  line-height: 57px;
  text-align: center;
  white-space: nowrap;
  z-index: 106;
}
.text-4d {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 256px;
  height: 32px;
  margin: 34px 0 0 95px;
  color: #ff0000;
  font-family: Andika, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 24.17px;
  text-align: center;
  white-space: nowrap;
  z-index: 110;
}
.text-4e {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 468px;
  height: 32px;
  top: 512px;
  left: 0;
  color: #041632;
  font-family: Andika, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 24.17px;
  text-align: center;
  white-space: nowrap;
  z-index: 96;
}
.text-4f {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 468px;
  height: 32px;
  top: 512px;
  left: 458px;
  color: #041632;
  font-family: Andika, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 24.17px;
  text-align: center;
  white-space: nowrap;
  z-index: 102;
}
.r-vista-desconto-pix {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 468px;
  height: 32px;
  top: 512px;
  left: 924px;
  color: #041632;
  font-family: Andika, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 24.17px;
  text-align: center;
  white-space: nowrap;
  z-index: 107;
}
.line-3c {
  position: relative;
  width: 1368.568px;
  height: 0.5px;
  margin: 251.75px 0 0 35.75px;
  background: url(./assets/images/34f9729f-cea5-4838-852d-1f1072ba2e0e.png)
    no-repeat center;
  background-size: cover;
  z-index: 64;
}
.line-3d {
  position: absolute;
  width: 1368.568px;
  height: 0.5px;
  top: 0;
  left: 0;
  background: url(./assets/images/a6649dea-9c21-4b22-856a-2ef75e0c7a4a.png)
    no-repeat center;
  background-size: cover;
  z-index: 65;
}
.logo-esport {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 554px;
  height: 271px;
  margin: 268.75px 0 0 397px;
  font-family: Oswald, var(--default-font-family);
  font-size: 200px;
  font-weight: 400;
  line-height: 271px;
  text-align: center;
  white-space: nowrap;
  background: linear-gradient(143.76deg, #ffffff, #343434);
  opacity: 0.4;
  z-index: 92;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.flex-row-ba {
  position: relative;
  width: 940px;
  height: 89px;
  margin: 395px 0 0 279px;
  z-index: 91;
}
.c-bank-logo {
  position: absolute;
  width: 101px;
  height: 89px;
  top: 0;
  left: 517px;
  background: url(./assets/images/295e0864473ec319481dcb8b548de4506ccb1414.png)
    no-repeat center;
  background-size: contain;
  z-index: 91;
}
.frame {
  position: absolute;
  width: 100px;
  height: 80px;
  top: 3px;
  left: 0;
  z-index: 80;
  overflow: hidden;
}
.vector {
  position: relative;
  width: 100px;
  height: 25.837px;
  margin: 27.08px 0 0 0;
  background: url(./assets/images/63206afc-eddd-460c-a927-40da2665376a.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 81;
}
.paypal-logo {
  position: absolute;
  width: 151px;
  height: 32px;
  top: 28px;
  left: 325px;
  background: url(./assets/images/200211cc-301c-47fb-bd2c-f1a35e4d18b0.png)
    no-repeat center;
  background-size: cover;
  z-index: 79;
  overflow: hidden;
}
.vector-3e {
  position: absolute;
  width: 2.89%;
  height: 14.23%;
  top: 32.35%;
  left: 18.51%;
  background: url(./assets/images/633d7690-edeb-4d82-9434-dd9a45a0ca3b.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 74;
}
.vector-3f {
  position: absolute;
  width: 3.72%;
  height: 31.46%;
  top: 32.58%;
  left: 70.96%;
  background: url(./assets/images/2fac46af-1d17-42b4-a941-ea28bb367667.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 72;
}
.vector-40 {
  position: absolute;
  width: 1.38%;
  height: 24.4%;
  top: 36.42%;
  left: 17%;
  background: url(./assets/images/120cdb93-4819-45f4-bf63-32d4d4271043.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 75;
}
.vector-41 {
  position: absolute;
  width: 6.61%;
  height: 24.4%;
  top: 36.42%;
  left: 21.96%;
  background: url(./assets/images/295c19cb-0e36-4a17-92d4-fc4262f5d293.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 77;
}
.pix {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 38px;
  height: 24px;
  top: 33px;
  left: 718px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 71;
}
.mastercard-logo {
  position: absolute;
  width: 151px;
  height: 15px;
  top: 39px;
  left: 789px;
  z-index: 86;
  overflow: hidden;
}
.group {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 87;
}
.xmlid {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets/images/5e95d529-d999-48a5-8821-973f09446418.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 88;
}
.vector-42 {
  position: absolute;
  width: 2.89%;
  height: 14.23%;
  top: 50.65%;
  left: 18.51%;
  background: url(./assets/images/a99f93b6-85a1-4d52-b879-50f5e7c2850c.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 76;
}
.flex-row-ad {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1021px;
  height: 31px;
  margin: 178px 0 0 169px;
  z-index: 85;
}
.fique-conectado {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 307px;
  height: 31px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 85;
}
.certificado {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 213px;
  height: 31px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 78;
}
.flex-row-be {
  position: relative;
  width: 1039px;
  height: 77px;
  margin: 26px 0 0 225px;
  z-index: 84;
}
.img {
  position: absolute;
  width: 71px;
  height: 76px;
  top: 0;
  left: 672px;
  background: url(./assets/images/09e1b78c5b799d6ee849abf5da2ed5b720901641.png)
    no-repeat center;
  background-size: cover;
  z-index: 84;
}
.regroup-43 {
  position: absolute;
  width: 19.83%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 69;
}
.path {
  position: absolute;
  width: 26.44%;
  height: 51.56%;
  top: 2.89%;
  left: 36.01%;
  background: url(./assets/images/75204d4f-f77c-4c47-a496-3bab3f95dcd9.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 68;
}
.logos {
  position: absolute;
  width: 29.31%;
  height: 50.13%;
  top: 3.94%;
  left: 70.69%;
  background: url(./assets/images/a9b010ae-0caa-4bc1-a9df-66b4af0d8c2b.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 66;
}
.vector-44 {
  position: absolute;
  width: 26.22%;
  height: 51.95%;
  top: 5.19%;
  left: 0;
  background: url(./assets/images/fa1f6dd0-f563-460b-bfbf-5242ba837f89.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 69;
}
.footer {
  position: absolute;
  width: 88px;
  height: 73px;
  top: 4px;
  left: 781px;
  background: url(./assets/images/bb79621c5dd1bf1447cf666d66003281700ccf89.png)
    no-repeat center;
  background-size: cover;
  z-index: 83;
}
.selo-lojaprotegida {
  position: absolute;
  width: 131px;
  height: 31px;
  top: 23px;
  left: 908px;
  background: url(./assets/images/eea45ca7e3e45c9396f318526c4b501d080e19a1.png)
    no-repeat center;
  background-size: cover;
  z-index: 82;
}
.copyright {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 188px;
  height: 31px;
  margin: 288px 0 0 596px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 70;
}
.line-45 {
  position: absolute;
  width: 1440px;
  height: 1px;
  top: 5563px;
  left: 0;
  background: url(./assets/images/9463bebe-81eb-43bc-81d1-36d684612331.png)
    no-repeat center;
  background-size: cover;
  z-index: 90;
}
.line-46 {
  position: absolute;
  width: 1440px;
  height: 1px;
  top: 5683px;
  left: 0;
  background: url(./assets/images/cf2bde15-73b4-4797-a4fd-f678cc0bab27.png)
    no-repeat center;
  background-size: cover;
  z-index: 89;
}
